/* Base Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #007acc;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #005f99;
  border-radius: 5px;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../img/imigration3.PNG") no-repeat center center;
  background-size: cover;
  color: white;
  padding: 100px 20px;
  height: 100vh; /* Ensure the hero section takes the full viewport height */
  position: relative; /* Needed for overlay */
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

/* CTA Buttons */
.cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #ff6600;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button.secondary {
  background-color: #007acc;
}

/* Learning Sections */
.learning-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.learning-section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learning-image {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Listening Page Specific Styles */

/* Content */
.content {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #004080;
}

p,
ul {
  line-height: 1.6;
}

/* Transcript styling */
.transcript {
  background-color: #f9f9f9;
  padding: 15px;
  border-left: 4px solid #007acc;
  margin-bottom: 20px;
}

.transcript p {
  margin: 5px 0;
}

/* Quizzes */
form {
  margin-bottom: 20px;
}

form p {
  font-weight: bold;
  margin-top: 15px;
}

form input[type="radio"] {
  margin-right: 5px;
}

/* Footer */
footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links a {
  color: #007acc;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
