body {
    background-color: #fff; /* Choose either #009578 or #fff */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.exam-section {
    margin: 20px;
    padding: 15px;
    background-color: #f9f9f9; /* Light grey background for each section */
}

.questions ul {
    padding-left: 20px; /* Indent list items */
}

.questions li {
    margin-bottom: 10px; /* Space out list items */
}
