@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3fef7;
  color: #003c43;
  line-height: 1.6;
}

nav {
  width: 100%;
  background-color: #77b0aa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  float: none;
  padding: 10px;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav ul li a:hover,
nav ul li a:focus {
  background-color: #135d66;
  outline: none;
}

.logo img {
  height: 40px;
  width: auto;
  margin: 5px 10px;
}

/* Hero Section */
.hero-section {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 80%;
  height: auto;
  border-radius: 50%;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}

.cta-button {
  background-color: #77b0aa;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s;
}

.cta-button.secondary {
  background-color: #135d66;
}

.cta-button:hover,
.cta-button:focus {
  background-color: #004a4f;
}

.learning-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.learning-section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  max-width: 300px;
  margin: 20px;
  text-align: center;
  padding: 20px;
}

.learning-section img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

footer {
  background-color: #77b0aa;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  .content,
  footer {
    width: 90%;
    margin: 20px auto;
  }
}
