rules_version = '2';

service cloud.firestore {
  // User profiles: Allow users to read and write their own profile
  match /databases/{database}/documents {
    match /{userId} {
      allow read, write: if request.auth !=null && request.auth.uid == userId;
    }
    
    // Writing Exercises: Readable by any authenticated use, writable by admins
      match /exercises/{document=**} {
        allow read: if request.auth !=null;
        allow write: if request.auth.token.admin == true;
    }
    
    // Comments: Users can read all comments and write their own comments
      match /comment/{commentId} {
      allow read: if request.auth !=null;
      allow write: if request.auth !=null && request.resource.data.userId == request.auth.uid; 
    }
  }
}